In [ ]:
import pandas as pd

In [ ]:
traindata=pd.read_csv('/content/drive/Othercomputers/My Laptop/ME/UIU AI CONTEST SUMMER20/train.csv')
testdata=pd.read_csv('/content/drive/Othercomputers/My Laptop/ME/UIU AI CONTEST SUMMER20/test.csv')

In [ ]:
traindata.head()

   index                                          statement  label
0      0  Says the health care law rations care, like sy...      1
1      1  The Great Lakes Compact has a loophole. And th...      0
2      2  Obama has chosen to deny the vicious anti-Semi...      1
3      3  Says that according to a study, under Obamas h...      1
4      4  Forty-seven percent of Americans pay no income...      0

In [ ]:
import string

In [ ]:
td=traindata

In [ ]:
td['statement']=td['statement'].str.lower()

In [ ]:
td.head()

   index                                          statement  label
0      0  says the health care law rations care, like sy...      1
1      1  the great lakes compact has a loophole. and th...      0
2      2  obama has chosen to deny the vicious anti-semi...      1
3      3  says that according to a study, under obamas h...      1
4      4  forty-seven percent of americans pay no income...      0

In [ ]:
#td['statement']=td['statement'].str.strip()

In [ ]:
td.head()

   index                                          statement  label
0      0  says the health care law rations care, like sy...      1
1      1  the great lakes compact has a loophole. and th...      0
2      2  obama has chosen to deny the vicious anti-semi...      1
3      3  says that according to a study, under obamas h...      1
4      4  forty-seven percent of americans pay no income...      0

In [ ]:
#td.dropna(inplace=True)

In [ ]:
td.isnull().sum()

index          0
statement    106
label          0
dtype: int64

In [ ]:
!"#$%&\'()*+,-./:;<=>?@[\\]^_{|}~`$

/bin/bash: -c: line 0: unexpected EOF while looking for matching ``'
/bin/bash: -c: line 1: syntax error: unexpected end of file

In [ ]:
import pandas as pd
import numpy as np
import re
import nltk
import spacy
import string

In [ ]:
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(statement):
    return statement.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

td["statement"] = td["statement"].apply(lambda text: remove_punctuation(text))
td.head()

In [ ]:
from nltk.corpus import stopwords

In [ ]:
nltk.download('stopwords')

In [ ]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(statement):
    #"""custom function to remove the stopwords"""
    return " ".join([word for word in str(statement).split() if word not in STOPWORDS])

td["statement"]=td["statement"].apply(lambda text: remove_stopwords(text))

In [ ]:
td.head()

In [ ]:
from collections import Counter
cnt = Counter()
for text in td["statement"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(4)

In [ ]:
FREQWORDS = set([w for (w, wc) in cnt.most_common(5)]) #Number of most_common(10) depends on number of total frequent
def remove_freqwords(text):
    #"""custom function to remove the frequent words"""
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

td["statement"] = td["statement"].apply(lambda text: remove_freqwords(text))

In [ ]:
td.head()

In [ ]:
n_rare_words = 10
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(statement):
   # """custom function to remove the rare words"""
    return " ".join([word for word in str(statement).split() if word not in RAREWORDS])

td["statement"] = td["statement"].apply(lambda text: remove_rarewords(text))
td.head(10)

In [ ]:
x=td['statement']

In [ ]:
y=td['label']

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
x = np.array(td.statement.values)
y = np.array(td.label.values)
cv = CountVectorizer(max_features=5000)
x = cv.fit_transform(td['statement'])
print("X.shape = ",x.shape)
print("y.shape = ",y.shape)

In [ ]:
print(x.sum())

In [ ]:
print(y)

In [ ]:
from sklearn.svm import SVC
model= SVC(kernel='rbf')
model.fit(x,y)

# **Test Data Preprocessing**

In [ ]:
td1=testdata

In [ ]:
td1.head(10)

In [ ]:
td1['statement']=td1['statement'].str.lower()

In [ ]:
#td1['statement']=td1['statement'].str.strip()

In [ ]:
#td1.dropna(inplace=True)

In [ ]:
td1.isnull().sum()

In [ ]:
!"#$%&\'()*+,-./:;<=>?@[\\]^_{|}~`$

In [ ]:
import pandas as pd
import numpy as np
import re
import nltk
import spacy
import string

In [ ]:
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(statement):
    return statement.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

td1["statement"] = td1["statement"].apply(lambda text: remove_punctuation(text))
td1.head()

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')

In [ ]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(statement):
    #"""custom function to remove the stopwords"""
    return " ".join([word for word in str(statement).split() if word not in STOPWORDS])

td1["statement"]=td1["statement"].apply(lambda text: remove_stopwords(text))

In [ ]:
td1.head()

In [ ]:
from collections import Counter
cnt = Counter()
for text in td1["statement"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(4)

In [ ]:
FREQWORDS = set([w for (w, wc) in cnt.most_common(5)]) #Number of most_common(10) depends on number of total frequent
def remove_freqwords(text):
    #"""custom function to remove the frequent words"""
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

td1["statement"] = td1["statement"].apply(lambda text: remove_freqwords(text))

In [ ]:
td1.head()

In [ ]:
n_rare_words = 10
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(statement):
   # """custom function to remove the rare words"""
    return " ".join([word for word in str(statement).split() if word not in RAREWORDS])

td1["statement"] = td1["statement"].apply(lambda text: remove_rarewords(text))
td1.head(10)

In [ ]:
td1.head(15)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
x_test1 = np.array(td1.statement.values)
cv = CountVectorizer(max_features=5000)
x_test2 = cv.fit_transform(td1['statement'])
print("X.shape = ",x_test2.shape)

In [ ]:
y_prediction = model.predict(x_test2)

In [ ]:
print(y_prediction)

In [ ]:
submission=pd.DataFrame({"index":testdata['index'],"label":y_prediction})

In [ ]:
submission.to_csv('ai_contest_prediction.csv', index=False)